.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addform{
  width: 500px;
  margin-left: 30%;
}

.btnaddfriend{
  width: 150px;
  margin-left: 150px;
  margin-top: 20px;
}

.input{
  width: 100%;
}

.title{
  text-align: center;
}
.btnSend{
  margin-left: 20px;
  width: 100px;
  height: 43px;
  margin-bottom: 10px;
}
.messageForm{
  margin-left: 200px;
  margin-top: 20px;
  background-color: cadetblue;
  height: 500px;
  width: 700px;
  border: 1px solid blue;
}
.typeMessage{
  margin-left: 0px;
  margin-top: 390px;
  height: 40px;
  width: 80%;
}
.yourMessage{
  margin-left: 60%;
  
}
.title{
  margin-left: 80px;
}
.view-profile{
  margin-left: 300px;
  margin-top: 50px;
  background-color:cornsilk;
  height: 500px;
  width: 700px;
  border: 1px solid blue;
  
}
.first-name{
  margin-left: 280px;
  margin-top: 20px;
}
.btnUpdate{
  margin-left: 260px;
}